# 가상환경 격리
venv/
.venv/

# 환경 변수 및 중요 키 파일 격리
.env
*.pem
*.key
*.p12
*.cer
secret.key
.zk-devpay-device.json
.zk-devpay-route-backup.json
.zk-devpay-deep-backup.json
.zk-devpay-deep/

# Python
__pycache__/
*.pyc

# PyInstaller 빌드 결과물 격리 (깃허브 용량 방지)
build/
dist/
*.spec
